.bg-main {
  position: relative;
  top:-29px;
  height:110px;
  background-color:#FFF;
  margin-bottom:-19px;
}

.bg-main img{
  display: block;
  margin: 0 auto;
  padding-top:17px;
}

.carousel {
	position:relative;
  top:-5px;
	
}

.carousel-inner >.item {
    -webkit-transition: 0.4s ease-in-out left;
    transition: 0.4s ease-in-out left;
    -webkit-transition: 0.4s, ease-in-out, left;
    -moz-transition: .4s, ease-in-out, left;
    -o-transition: .4s, ease-in-out, left;
    transition: .4s, ease-in-out, left;
}

.carousel-inner > .item > img {
   width:200%;
}

   /* Align slide image horizontally center */
}

.bs-example{
	background-color:#ffdb51;
}

.before-footer {
  position: relative;
  top:-10px;
  height:60px;
  background-color:#FFF;
  border-bottom:4px solid #ffdb51;
}

@media screen and (max-width: 740px){

  .bg-main img {
    display: block;
    margin: 0 auto;
    width:92%;
    padding-top:27px;
  }

  .carousel-inner > .item > img {
    height:210px;
  }

}




