
.bg-main {
  position: relative;
  top:-29px;
  height:130px;
  background-color:#FFF;
  margin-bottom:-20px;
}

.bg-main img{
  display: block;
  margin: 0 auto;
  width:22%;
  padding-top:28px;
}

.bg-leftSide {
  position:relative;
  top:-29px;
  background-color:#FFF;
  height:500px;
}

.bg-leftSide h3 {
  position:relative;
  left:32px;
  top:50px;
  color:#ffdb51;
  font-weight:bold;
  font-size:1.3em;
  padding-left:18px;
}


.bg-leftSide p {
  position:relative;
  top:60px;
  left:25px;
  border:none;
  margin-left:25px;
  margin-right:80px;
  line-height:27px;
  color:#9f835e;
  font-size:13.5px;
}

.bg-rightSide {
  position:relative;
  top:-29px;
  background-color:#FFF;
  height:500px;
}

.bg-rightSide img {
  display: block;
  margin: 0 auto;
  position:relative;
  top:95px;
  width:400px;
  height:300px;
}

.before-footer {
  position: relative;
  top:-29px;
  height:60px;
  background-color:#FFF;
  border-bottom:4px solid #ffdb51;
  margin-bottom:-19px;
}


@media screen and (max-width: 910px){
  
   .bg-main img {
    display: block;
    margin: 0 auto;
    width:33%;
    padding-top:34px;
  }

  .bg-rightSide img {
    display: block;
    margin: 0 auto;
    position:relative;
    top:80px;
    right:10px;
    width:330px;
    height:300px; 
  }

  .bg-rightSide {
    position:relative;
    top:-29px;
    height:500px;
  }

  .bg-leftSide {
    height:500px;
  }

  .bg-leftSide h3 {
    position:relative;
    left:11px;
    top:20px;
    color:#ffdb51;
    font-weight:bold;
    font-size:1.3em;
    padding-left:18px;
  }


  .bg-leftSide p {
    position:relative;
    left:5px;
    top:25px;
    border:none;
    line-height:21px;
    color:#9f835e;
    margin-right:15px;
    font-size:13.25px;
  }
}


@media screen and (max-width: 740px){

  .bg-main img {
    display: block;
    margin: 0 auto;
    width:60%;
    padding-top:35px;
  }

  .bg-rightSide img {
    display: block;
    margin: 0 auto;
    position:relative;
    top:1px;
    left:1px;
    width:330px;
    height:300px; 
  }

  .bg-rightSide {
    position:relative;
    top:-29px;
    height:450px;
  }

  .bg-leftSide {
    height:450px;
  }

  .before-footer {
    position: relative;
    top:-29px;
    height:60px;
    background-color:#FFF;
    border-bottom:4px solid #ffdb51;
    margin-bottom:-19px;
  }
  
}











